In [131]:
import pandas as pd

In [132]:
flight_df = pd.read_csv('Resources/2018_select.csv')

In [133]:
flight_df.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [134]:
flight_df['DEP_TIME']

0        1512.0
1        1107.0
2        1330.0
3        1552.0
4         650.0
          ...
17909     621.0
17910    1754.0
17911    1012.0
17912     903.0
17913    1150.0
Name: DEP_TIME, Length: 17914, dtype: float64

In [135]:
flight_df['DEP_TIME'] = flight_df['DEP_TIME'].loc[~flight_df['DEP_TIME'].isna()].astype(int).astype(str)
flight_df['DEP_TIME']

0        1512
1        1107
2        1330
3        1552
4         650
         ...
17909     621
17910    1754
17911    1012
17912     903
17913    1150
Name: DEP_TIME, Length: 17914, dtype: object

In [136]:
flight_df['DEP_TIME'].loc[flight_df['DEP_TIME'].str.len()==3] = '0'+flight_df['DEP_TIME'].loc[flight_df['DEP_TIME'].str.len()==3]

In [141]:
flight_df['DEP_TIME'] = flight_df['DEP_TIME'].str[0:2]+':'+flight_df['DEP_TIME'].str[2:4]

In [142]:
flight_df['DEP_TIME']

0        15:12
1        11:07
2        13:30
3        15:52
4        06:50
         ...
17909    06:21
17910    17:54
17911    10:12
17912    09:03
17913    11:50
Name: DEP_TIME, Length: 17914, dtype: object

In [143]:
flight_df=flight_df[['FL_DATE','OP_CARRIER','OP_CARRIER_FL_NUM','ORIGIN', 'DEST','AIR_TIME','DISTANCE','DEP_TIME', 'DEP_DELAY','CANCELLED']]

In [144]:
flight_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,AIR_TIME,DISTANCE,DEP_TIME,DEP_DELAY,CANCELLED
0,2018-01-01,UA,2429,EWR,DEN,225.0,1605.0,15:12,-5.0,0.0
1,2018-01-01,UA,2427,LAS,SFO,65.0,414.0,11:07,-8.0,0.0
2,2018-01-01,UA,2426,SNA,DEN,106.0,846.0,13:30,-5.0,0.0
3,2018-01-01,UA,2425,RSW,ORD,157.0,1120.0,15:52,6.0,0.0
4,2018-01-01,UA,2424,ORD,ALB,83.0,723.0,06:50,20.0,0.0
...,...,...,...,...,...,...,...,...,...,...
17909,2018-01-01,DL,2988,SJC,MSP,199.0,1575.0,06:21,1.0,0.0
17910,2018-01-01,DL,2989,SEA,ORD,203.0,1721.0,17:54,-8.0,0.0
17911,2018-01-01,DL,2990,ATL,DCA,70.0,547.0,10:12,7.0,0.0
17912,2018-01-01,DL,2999,ATL,SYR,101.0,794.0,09:03,-5.0,0.0
17913,2018-01-01,DL,2999,SYR,ATL,124.0,794.0,11:50,0.0,0.0

In [145]:
flight_df.columns=['Date','Airline','Flight_Num','Origin','Destination','Air_Time','Distance','Dep_Time','Delay (min)', 'Cancelled (Y/N)']

In [146]:
flight_df

,Date,Airline,Flight_Num,Origin,Destination,Air_Time,Distance,Dep_Time,Delay (min),Cancelled (Y/N)
0,2018-01-01,UA,2429,EWR,DEN,225.0,1605.0,15:12,-5.0,0.0
1,2018-01-01,UA,2427,LAS,SFO,65.0,414.0,11:07,-8.0,0.0
2,2018-01-01,UA,2426,SNA,DEN,106.0,846.0,13:30,-5.0,0.0
3,2018-01-01,UA,2425,RSW,ORD,157.0,1120.0,15:52,6.0,0.0
4,2018-01-01,UA,2424,ORD,ALB,83.0,723.0,06:50,20.0,0.0
...,...,...,...,...,...,...,...,...,...,...
17909,2018-01-01,DL,2988,SJC,MSP,199.0,1575.0,06:21,1.0,0.0
17910,2018-01-01,DL,2989,SEA,ORD,203.0,1721.0,17:54,-8.0,0.0
17911,2018-01-01,DL,2990,ATL,DCA,70.0,547.0,10:12,7.0,0.0
17912,2018-01-01,DL,2999,ATL,SYR,101.0,794.0,09:03,-5.0,0.0
17913,2018-01-01,DL,2999,SYR,ATL,124.0,794.0,11:50,0.0,0.0

In [147]:
flight_df['Cancelled (Y/N)']=flight_df['Cancelled (Y/N)'].replace(0, 'N')

In [148]:
flight_df['Cancelled (Y/N)']=flight_df['Cancelled (Y/N)'].replace(1, 'Y')

In [149]:
flight_df.to_csv('Clean/flights_cleaned',index=False)

In [150]:
pd.read_csv('Clean/flights_cleaned')

,Date,Airline,Flight_Num,Origin,Destination,Air_Time,Distance,Dep_Time,Delay (min),Cancelled (Y/N)
0,2018-01-01,UA,2429,EWR,DEN,225.0,1605.0,15:12,-5.0,N
1,2018-01-01,UA,2427,LAS,SFO,65.0,414.0,11:07,-8.0,N
2,2018-01-01,UA,2426,SNA,DEN,106.0,846.0,13:30,-5.0,N
3,2018-01-01,UA,2425,RSW,ORD,157.0,1120.0,15:52,6.0,N
4,2018-01-01,UA,2424,ORD,ALB,83.0,723.0,06:50,20.0,N
...,...,...,...,...,...,...,...,...,...,...
17909,2018-01-01,DL,2988,SJC,MSP,199.0,1575.0,06:21,1.0,N
17910,2018-01-01,DL,2989,SEA,ORD,203.0,1721.0,17:54,-8.0,N
17911,2018-01-01,DL,2990,ATL,DCA,70.0,547.0,10:12,7.0,N
17912,2018-01-01,DL,2999,ATL,SYR,101.0,794.0,09:03,-5.0,N
17913,2018-01-01,DL,2999,SYR,ATL,124.0,794.0,11:50,0.0,N