In [1]:
# Python SQL toolkit and Object Relational Mapper
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify
import pandas as pd

In [2]:
from config import pw,user

In [3]:
user

'postgres'

In [7]:
engine = create_engine(f'postgresql://{user}:{pw}@localhost:5432/Project2')
connection = engine.connect()

In [8]:
pd.read_sql_query('select * from "Flight_cleaned"',connection)

,Date,Airline,Flight_Num,Origin,Destination,Air_Time,Distance,Dep_Time,Delay,Cancelled
0,2018-01-01,UA,2429,EWR,DEN,225.0,1605,15:12,-5.0,N
1,2018-01-01,UA,2427,LAS,SFO,65.0,414,11:07,-8.0,N
2,2018-01-01,UA,2426,SNA,DEN,106.0,846,13:30,-5.0,N
3,2018-01-01,UA,2425,RSW,ORD,157.0,1120,15:52,6.0,N
4,2018-01-01,UA,2424,ORD,ALB,83.0,723,6:50,20.0,N
...,...,...,...,...,...,...,...,...,...,...
17909,2018-01-01,DL,2988,SJC,MSP,199.0,1575,6:21,1.0,N
17910,2018-01-01,DL,2989,SEA,ORD,203.0,1721,17:54,-8.0,N
17911,2018-01-01,DL,2990,ATL,DCA,70.0,547,10:12,7.0,N
17912,2018-01-01,DL,2999,ATL,SYR,101.0,794,9:03,-5.0,N
17913,2018-01-01,DL,2999,SYR,ATL,124.0,794,11:50,0.0,N

In [12]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine,reflect=True)

In [10]:
# We can view all of the classes that automap found
Base.classes.keys()

[]